<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Trending Now</h2>
      <a
        routerLink="/shop"
        class="hidden text-sm font-medium text-indigo-600 hover:text-indigo-500 md:block cursor-pointer"
      >
        Browse the collection
        <span aria-hidden="true"> &rarr;</span>
      </a>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      @for (product of products(); track product.id; let i = $index) {
        <app-product-card
          [product]="product"
          [priority]="i < 4"
          (addToCart)="addToCart.emit($event)"
          (quickView)="quickView.emit($event)"
        >
        </app-product-card>
      }
    </div>

    <div class="mt-8 text-sm md:hidden">
      <a
        routerLink="/shop"
        class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer"
      >
        Browse the collection
        <span aria-hidden="true"> &rarr;</span>
      </a>
    </div>
  </div>
</div>
