<div [formGroup]="form()" class="space-y-6">
  <!-- Express Checkout (Buttons) -->
  <div>
    <div class="mt-6 grid grid-cols-2 gap-4">
      <button
        type="button"
        class="flex w-full items-center justify-center rounded-md border border-transparent bg-black py-2.5 text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
      >
        <span class="sr-only">Sign in with Apple</span>
        <svg class="h-5 w-auto" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M12.22 3.4c.5-1.22 1.6-1.9 2.5-1.9.9 0 2 .7 2.5 1.9.5 1.2-.2 2.7-.9 3.5-.7.8-1.8 1.1-2.7 1-.9-.1-1.8-.7-2.3-1.6-.5-1 .1-2.2.9-2.9zm5.3 4.2c-1.3-.8-2.5-.2-3.1.2-.6.4-1.2 1.1-1.2 2.3 0 1.9 1.5 3.5 3.5 3.5 1 0 1.9-.5 2.5-1.1.2-.2.5-.3.8-.3 1 0 2.2 1.1 2.2 1.1s-.4 1.1-.9 2c-.6 1.1-1.4 2.3-2.6 2.3-.6 0-1.1-.2-1.6-.5-.9-.5-2.2-.5-3.1 0-.5.3-1 .5-1.6.5-1.2 0-2.3-1.5-3.2-3.3-1.6-3.2-.3-6.8 2.6-7 1-.1 1.9.6 2.5.6.5 0 1.3-.7 2.3-.7 1 0 1.6.4 1.9.7-1.2.7-2.1 2.2-2.1 3.7 0 1.2.7 2.3 1.7 2.9l.4.1z"
          ></path>
        </svg>
        <span class="ml-2 font-medium">Apple Pay</span>
      </button>

      <button
        type="button"
        class="flex w-full items-center justify-center rounded-md border border-gray-300 bg-white py-2.5 text-black hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
      >
        <span class="sr-only">Sign in with Google</span>
        <svg class="h-5 w-auto" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .533 5.333.533 12S5.867 24 12.48 24c3.44 0 6.333-1.147 8.52-3.173 2.227-2.227 2.907-5.507 2.907-8.16 0-.667-.067-1.293-.187-1.747h-11.24z"
          ></path>
        </svg>
        <span class="ml-2 font-medium">Google Pay</span>
      </button>
    </div>
    <div class="relative mt-6">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="bg-gray-50 px-2 text-sm text-gray-500">Or continue with email</span>
      </div>
    </div>
  </div>

  <!-- Contact Info -->
  <div>
    <h3 class="text-lg font-medium text-gray-900">Contact information</h3>
    <div class="mt-4">
      <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900"
        >Email address</label
      >
      <div class="mt-2">
        <input
          type="email"
          id="email-address"
          formControlName="email"
          autocomplete="email"
          class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
      @if (form().get('email')?.touched && form().get('email')?.invalid) {
        <p class="mt-2 text-sm text-red-600">Valid email is required</p>
      }
    </div>
  </div>

  <!-- Shipping Address -->
  <div class="pt-6">
    <div class="flex items-center justify-between">
      <h3 class="text-lg font-medium text-gray-900">Shipping address</h3>
      <button
        type="button"
        class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
        (click)="fillMockData.emit()"
      >
        Use mock data
      </button>
    </div>

    <div class="mt-4 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6 pl-1">
      <div class="sm:col-span-6">
        <label for="full-name" class="block text-sm font-medium leading-6 text-gray-900"
          >Full name</label
        >
        <div class="mt-2">
          <input
            type="text"
            id="full-name"
            formControlName="fullName"
            autocomplete="name"
            class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        @if (form().get('fullName')?.touched && form().get('fullName')?.invalid) {
          <p class="mt-2 text-sm text-red-600">Full name is required</p>
        }
      </div>

      <div class="sm:col-span-6">
        <label for="address" class="block text-sm font-medium leading-6 text-gray-900"
          >Address</label
        >
        <div class="mt-2">
          <input
            type="text"
            id="address"
            formControlName="address"
            autocomplete="street-address"
            class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        @if (form().get('address')?.touched && form().get('address')?.invalid) {
          <p class="mt-2 text-sm text-red-600">Address is required</p>
        }
      </div>

      <div class="sm:col-span-2">
        <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
        <div class="mt-2">
          <input
            type="text"
            id="city"
            formControlName="city"
            autocomplete="address-level2"
            class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        @if (form().get('city')?.touched && form().get('city')?.invalid) {
          <p class="mt-2 text-sm text-red-600">City is required</p>
        }
      </div>

      <div class="sm:col-span-2">
        <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900"
          >ZIP / Postal code</label
        >
        <div class="mt-2">
          <input
            type="text"
            id="postal-code"
            formControlName="zipCode"
            autocomplete="postal-code"
            class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        @if (form().get('zipCode')?.touched && form().get('zipCode')?.invalid) {
          <p class="mt-2 text-sm text-red-600">ZIP Code is required</p>
        }
      </div>
    </div>
  </div>

  <div class="pt-6 flex justify-end">
    <button
      type="button"
      (click)="continue.emit()"
      class="rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    >
      Continue to Shipping
    </button>
  </div>
</div>
